NODE_ENV = 'development'

DATABASE = 'sql || nosql'

#MongoDB env variables
DB_NAME = ''
DB_URL = ''

#SQL DB env variables
DB_NAME = ''
DB_USERNAME = ''
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT = ''
DB_DIALECT = ''
